@import "./Variables.scss";

* {
  margin: 0;
  font-family: "Avenir", "Segoe UI", "Roboto", "Oxygen", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
a {
  margin: 0;
}

#root {
  height: 100vh;
  background: $black;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.app {
  max-width: 800px;
  margin: 0 auto;
  padding-top: 20px;
  height: calc(100vh - 20px);
  background: white;

  &.dark {
    background: $black;

    h2 {
      color: white;
    }

    p {
      color: white;
    }

    .filter-option {
      color: white;
    }

    .todo-item label {
      color: white;
    }

    .bottom-button {
      background: rgb(100, 108, 126);
    }
  }
}

.router-outlet {
  overflow-y: auto;
  height: calc(100vh - 75px);
}