@import "./Variables.scss";

.nav-header {
  margin: 0;
  display: flex;
  font-size: $h1;
  padding: 0 5%;
}

.nav-child-title {
  flex: 1 1 auto;

  a {
    color: $primary-color;
  }
}

.nav-child-icon {
  flex: 0 1 auto;
}