@import "./Variables.scss";

.NavHeader {
  margin: 0;
  display: flex;
  font-size: $h1;
  padding: 0 20px;
}

.NavChildTitle {
  flex: 1 1 auto;

  a {
    color: $primary-color;
  }
}

.NavChildInfo {
  flex: 0 1 auto;
}