@import "./Variables.scss";

.NavHeader {
  margin: 0 0 10px 0;
  display: flex;
  font-size: $h1;
}

.NavChildTitle {
  flex: 1 1 auto;
  a {
    color: $primary-color;
  }
}

.NavChildInfo {
  flex: 0 1 auto;
}
