$primary-color: #921CE8;
$font-color: #383838;
$pale: #B9B9B9;
$border-color: #CCCCCC;
$background-light: #F7F7F7;
$h1: 36px;
$h2: 22px;
$p: 16px;
$small: 14px;
$medium: 17px;
$thin: 300;
$regular: 400;
$bold: 500;
$bolder: 600;


//COLORS
$grey: #CED6E0;
$yellow: #FFD32A;
$coral: #FF7F50;
$pink: #FC427B;
$red: #FF4D4D;
$mint: #33D9B2;
$green: #05C46B;
$blue: #1E90FF;
$purple: #921CE8;
$black: #2F3542;