@import "./styles/variables.scss";

.App {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.NavHeader {
  margin: 0;
  display: flex;
  border: 1px solid green;
}

.NavChildTitle {
  flex: 1 1 auto;
  border: 1px solid blue;
  a {
    color: $primary-color;
  }
}

.NavChildInfo {
  flex: 0 1 auto;
  border: 1px solid red;
}
